# space separated list of code owners.
# See [GitHub CODEOWNERS](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners) for more info.
# Delete these comment lines when adding the projects list of owners.
